@if (col().type === "text") {
  <ng-container>
    <div class="mt-2">
      <label
        [for]="col().header"
        class="block font-bold mb-2"
      >{{ col().header }}</label>

      <input
        pInputText
        [id]="col().field"
        [(ngModel)]="currentItem()[col().field]"
        [type]="'text'"
        required
      />

      @if (submitted() && !currentItem()[col().field]) {
        <small class="text-red-500">
          {{ col().field }} é necessário.
        </small>
      }
    </div>
  </ng-container>
}

@if (col().type === "number") {
  <ng-container>
    <div class="mt-2">
      <label
        [for]="col().header"
        class="block font-bold mb-2"
      >{{ col().header }}</label>

      <p-input-number
        [id]="col().field"
        [(ngModel)]="currentItem()[col().field]"
        required
      />

      @if (submitted() && !currentItem()[col().field]) {
        <small class="text-red-500">
          {{ col().field }} é necessário.
        </small>
      }
    </div>
  </ng-container>
}

@if (col().type === "datetime") {
  <ng-container>
    <div class="mt-2">
      <label
        [for]="col().header"
        class="block font-bold mb-2"
      >{{ col().header }}</label>

      <p-datepicker
        inputId="calendar-24h"
        [(ngModel)]="currentItem()[col().field]"
        [showTime]="true"
        [hourFormat]="'24'"
        [showButtonBar]="true"
        appendTo="body"
      ></p-datepicker>

      @if (submitted() && !currentItem()[col().field]) {
        <small class="text-red-500">
          {{ col().field }} é necessário.
        </small>
      }
    </div>
  </ng-container>
}

@if (col().type === "date") {
  <ng-container>
    <div class="mt-2">
      <label
        [for]="col().header"
        class="block font-bold mb-2"
      >{{ col().header }}</label>

      <p-datepicker
        inputId="calendar-24h"
        [(ngModel)]="currentItem()[col().field]"
        [showButtonBar]="true"
        appendTo="body"
      ></p-datepicker>

      @if (submitted() && !currentItem()[col().field]) {
        <small class="text-red-500">
          {{ col().field }} é necessário.
        </small>
      }
    </div>
  </ng-container>
}

@if (col().type === "select") {
  <ng-container>
    <div class="mt-2">
      <label
        [for]="col().header"
        class="block font-bold mb-2"
      >
        {{ col().header }}
      </label>

      <p-select
        [options]="col().options"
        [(ngModel)]="currentItem()[col().field]"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecione..."
        class="w-full md:w-56"
        appendTo="body"
      >
        <ng-template #selectedItem let-selectedOption>
          @if (selectedOption) {
            <div class="flex items-center gap-2">
              <div>{{ selectedOption.label }}</div>
            </div>
          }
        </ng-template>

        <ng-template let-option #item>
          <div class="flex items-center gap-2">
            <div>{{ option.label }}</div>
          </div>
        </ng-template>
      </p-select>

      @if (submitted() && !currentItem()[col().field]) {
        <small class="text-red-500">
          {{ col().header }} é necessário.
        </small>
      }
    </div>
  </ng-container>
}


