<div class="container">
  <p-toolbar class="mb-2">
    <ng-template #start>
      <p-button
        label="Novo"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
      <p-button
        class="ms-2"
        severity="danger"
        label="Excluir"
        icon="pi pi-trash"
        outlined
        (onClick)="confirmDeleteSelected()"
        [disabled]="!selectedItems || !selectedItems.length"
      />
    </ng-template>

    <ng-template #end>
      <p-button
        label="Exportar"
        icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="data()"
    [resizableColumns]="true"
    [columns]="columns"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '50rem' }"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords}"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">{{ title }}</h5>
        <p-iconfield>
          <p-inputicon class="pi pi-search"/>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Buscar..."
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox/>
        </th>
        @for (col of columns; track col.field) {
          @if (col.exhibitable) {
            <th
              pResizableColumn
              pSortableColumn="{{ col.field }}"
            >
              <div class="flex items-center gap-2">
                {{ col.header }}
                <p-sortIcon [field]="col.header"/>
              </div>
            </th>
          }
        }
        <th style="min-width: 8rem">Ações</th>
      </tr>
    </ng-template>

    <ng-template
      #body
      let-row
    >
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="row"/>
        </td>

        @for (col of columns; track col.field) {
          @if(col.exhibitable) {
            <td (dblclick)="edit(row)">
              @switch (col.type) {
                @case ('date') {
                  {{ row[col.field] | date:'dd/MM/yyyy' }}
                }

                @case ('datetime') {
                  {{ row[col.field] | date:'dd/MM/yyyy HH:mm' }}
                }

                @case ('currency') {
                  {{ row[col.field] | currency:'BRL':'symbol':'1.2-2' }}
                }
                @case ('boolean') {
                  <p-tag
                    [value]="row[col.field] ? 'Ativo' : 'Inativo'"
                    [severity]="row[col.field] ? 'success' : 'danger'" />
                }
                @default {
                  {{ row[col.field] }}
                }
              }
            </td>
          }
        }

        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="edit(row)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="confirmDelete(row)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="dialogVisible"
    [style]="{ width: '450px' }"
    [header]="message"
    [modal]="true"
  >
    <div class="d-flex flex-column gap-3">


      @if (isEdit) {
        @for (col of columns; track col.field) {
          <app-crud-field
            [col]="col"
            [isEditable]="col.editable"
            [isInsertable]="col.insertable"
            [currentItem]="currentItem"
            [submitted]="submitted"
          />
        }
      } @else {
        @for (col of columns; track col.field) {
          <app-crud-field
            [col]="col"
            [isEditable]="true"
            [isInsertable]="col.insertable"
            [currentItem]="currentItem"
            [submitted]="submitted"
          />
        }
      }
    </div>

    <ng-template
      #footer
    >
      <p-button
        class="mt-20"
        label="Cancelar"
        icon="pi pi-times"
        text
        (click)="dialogVisible=false"
      />
      <p-button
        class="mt-20"
        label="Salvar"
        icon="pi pi-check"
        (click)="save()"
      />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
